h3 {
  margin-top: 0;
}

.book {
  margin: 0 0 35px 0;
}

#book-form-modal {
  display: none;
  padding: 0 0 10px;
  margin: 0 0 20px 0;
}

#book_genre_ids {
  height: 131px;
}

.book-search {
  margin: 5px 20px 0 0;
}

.books-content {
  padding: 40px 0 0 0;
}

.rating {
  max-width: 97px;
  font-size: 1.8em;
  padding-top: 8px;
}

.book .remove-book {
  color: $brand-primary;
  transition: opacity .6s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin-left: 6px;
}

.book .div[class^='edit-book-'], div[class*=' edit-book-'] {
  color: $brand-primary;
  transition: opacity .6s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.book:hover { 
  .remove-book {
    opacity: 1;
    height: auto;
  }

  div[class^='edit-book-'], div[class*=' edit-book-'] {
    opacity: 1;
    height: auto;
  }
}

.rating-5 .rating { color: $brand-success; }
.rating-4 .rating { color: $brand-info;    }
.rating-3 .rating { color: $brand-primary; }
.rating-2 .rating { color: $brand-warning; }
.rating-1 .rating { color: $brand-danger;  }

