$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              #212121;
$gray:                   #666;
$gray-light:             #bbb;
$gray-lighter:           lighten($gray-base, 93.5%); // #eee
