$badge-color:                 #fff;
// color of linked badge on hover
$badge-link-hover-color:      #fff;
$badge-bg:                    $gray-light;

// active nav link badge color
$badge-active-color:          $link-color;
// active nav link badge background color
$badge-active-bg:             #fff;

$badge-font-weight:           normal;
$badge-line-height:           1;
$badge-border-radius:         10px;
