$btn-font-weight:                normal;

$btn-default-color:              $text-color;
$btn-default-bg:                 #fff;
$btn-default-border:             #eee;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             transparent;

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             transparent;

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                transparent;

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             transparent;

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              transparent;

$btn-link-disabled-color:        $gray-light;
