// maximum widths of `.container` for different screen sizes

$container-tablet:             (720px + $grid-gutter-width);
$container-sm:                 $container-tablet;

$container-desktop:            (940px + $grid-gutter-width);
$container-md:                 $container-desktop;

$container-large-desktop:      (1140px + $grid-gutter-width);
$container-lg:                 $container-large-desktop;
