$state-success-text:             $brand-success;
$state-success-bg:               #dff0d8;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                $brand-info;
$state-info-bg:                  #e1bee7;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             $brand-warning;
$state-warning-bg:               #ffe0b2;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              $brand-danger;
$state-danger-bg:                #f9bdbb;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);

