$jumbotron-padding:              30px;
$jumbotron-color:                inherit;
$jumbotron-bg:                   #f9f9f9;
$jumbotron-heading-color:        $headings-color;
$jumbotron-font-size:            ceil(($font-size-base * 1.5));

