$label-default-bg:            $gray-light;
$label-primary-bg:            $brand-primary;
$label-success-bg:            $brand-success;
$label-info-bg:               $brand-info;
$label-warning-bg:            $brand-warning;
$label-danger-bg:             $brand-danger;

// default text color of label
$label-color:                 #fff;
// default text color of linked label
$label-link-hover-color:      #fff;
