$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
// monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;

$font-family-base:        $font-family-sans-serif;

$font-size-base:          13px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            56px;
$font-size-h2:            45px;
$font-size-h3:            34px;
$font-size-h4:            24px;
$font-size-h5:            20px;
$font-size-h6:            14px;

// base line-height for use in components like buttons.
$line-height-base:        1.846; // 20/14
// full "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

// headings inherit from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    400;
$headings-line-height:    1.1;
$headings-color:          #444;

