<div class="container">
  <%= render 'shared/github_banner' %>

  <div class="navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.tigershen.me">Reed: A Reading List <small class="navbar-byline">by Tiger Shen</small></a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="book-search">
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder="Find a book" >
          </form>
        </li>

        <li>
          <%= link_to "Add a Book",
                      new_book_path,
                      remote: true,
                      class: 'btn btn-primary',
                      id: 'show-add-book-form' %>
          <!-- <a href='#' id='show&#45;add&#45;book&#45;form' class='btn btn&#45;primary' data&#45;toggle="modal" data&#45;target="#book&#45;form&#45;modal"> -->
          <!--   Add a Book -->
          <!-- </a> -->
        </li>
      </ul>
    </div>
  </div>
</div>
