<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <%= render "books/form" %>
    <div class="modal-footer">
    </div>
  </div>
</div>

